h1 {
    text-align: center;
}

h2 {
    font-size: 30px;
}

p {
    text-align: justify;
    font-family: "Crimson Text", serif;
    margin-top: 20px;
    margin-bottom: 20px;
}

h1, h2 { /*Aplica o estilo nos elementos h1 e h2*/
    font-family: "Open Sans Condensed", sans-serif;/*Procura a fonte Arial e caso não encontre ele recupera um fonte do tipo sans-serif*/
    clear: both;
}
body {
    font-family: "Crimson Text", serif;
    background-color: #F2FFFC;
    line-height: 1.5;
   /* font-size: 120%;/*Aumentar a fonte da págian toda, aumenta em 20% */
}

main blockquote {
    background-color: #D9E5E3;
    border: 10px solid #C2CCCA;
    width: 250px;
    margin: 0;
    box-sizing: border-box;
    border-bottom-color: #333;
    border-right-color: #FFF;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 40px;
    margin-right: 40px;

}

main h1 {
        background-color: #851944;
        margin: 0;
        padding: 25px;
        border-bottom: 10px solid #000;
        font-size: 60px;
        text-transform: uppercase;
}

aside {
    background-color: #3C1D3D;
    color: #F2FFFC;
    text-align: center;
}

aside h1 {
    margin: 25px;
    font-size: 30px;
}

nav a{
    color: #F2FFFC;
    text-transform: lowercase;
}
/*
footer {
    color: #F2FFFC;
}*/
main a {
    color: #851944;
}

aside a {
    color: inherit;
    font-family: "Open Sans Condensed", sans-serif;
    text-decoration: none;

}
.icones-sociais li {
    display: inline-block;
}

.icones-sociais a {
    width: 40px;
    height: 40px;
    display: inline-block;
    text-indent: -9999px;
}
.github{
    background-image:url(github.png);
}

.twitter {
    background-image:url(twitter.png);
}

.linkedin{
    background-image:url(linkedin.png);
}

/*
aside nav li{
    display: block;
}
*/


blockquote,
aside,
footer {
    padding: 20px;
}

article {
    padding-bottom: 30px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
}

.conteudo{
    width: 720px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
    padding-bottom: 30px;
}

.pause {
    border-left: 10px solid red;
    border-right: 10px solid red;
    width: 5px;
    height: 30px;
}

.triangulo {
    border-left: 30px solid red;
    border-bottom: 30px solid red;
    border-top: 30px solid transparent;
    border-right: 30px solid transparent;
    width: 0;
}

.borboleta {
    border-left: 30px solid red;
    border-bottom: 30px solid transparent;
    border-top: 30px solid transparent;
    border-right: 30px solid red;
    width: 0;
}

strong {
    font-weight: bold;
}

em {
    font-style: italic;
}

.rodape-pagina {
    background-color: #000;
    color: #F2FFFC;
    padding: 20px;
}

.leia-mais {
    padding: 8px;
    margin: 16px;
    display: block;
    font-size: 24px;
    text-align: center;
    background-color: #E6E7E8;
}

.fiat {
    float: right;
}

.petrobras{
    float: left;
}

aside, img {
    float: right;
    width: 15%;
    border-left: 10px solid black;
    border-bottom: 10px solid black;
}

aside{
    float:right;
    box-sizing: border-box;
	   position: relative;
        top: 310px;
}

main {
    float:left;
    width: 85%;
	  padding-bottom: 80px;
}

footer {
    clear: both;
	  position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
}

img {
        position: absolute;
        top: 0;
        right: 0;
    }
